#map {
    height: 40em; 
    margin: 0;
}

.navbarli {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
    
}
.navbara {
    text-decoration: none; 
    color: black;
    padding: 2vw;
    font-family: monospace;
}
.navbara:hover {
    background-color: #C6E9FF;
}

nav {
    width: 100%;
    background-color: #D6EFFF;
    margin: 0;
    overflow: hidden;
}

.navbarul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

body {
    margin: 0;
}

#hamburger {
    display: none;
}

/*
Navbar scaling
*/
@media only screen and (max-width: 900px) {
    .navbarul {
        flex-direction: column;
    }
    .navbarli {
        margin: 0;
    }
    .navbara {
        display: block;
    }
    #hamburger {
        display: block;

        padding: 2vw;
        font-size: 2vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
    .allMembers{
        margin-left: 45%;
        margin-top: auto;
    }
}

.allMembers{
    position: relative;
    float: left;
    top: 50%;
    transform: translate(0, -50%);
}

.allMembers img{
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 25vw;
}

/*.membersText{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
    font-size: 18px;
}
*/
.members{
    float: left;
}

.skills{
    float: right;
}
#slideshow { 
    margin: 50px auto; 
    position: static; 
    width: 60px; 
    height: 60px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 60px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*
Kontakta oss form
*/
.form {
    border-radius: 3vw;
    background-color: grey;
    padding: 2vw;
    margin: 0;
    overflow-x: hidden;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid grey;
    border-radius: 1vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
    resize: vertical;
    box-sizing: border-box;
}   
.text{
    position: relative;
}











#chribbe{
    cursor: url(cursor.cur), progress;
}
