*{
    font-family:sans-serif;
}

#map {
    height: 40em; 
    margin: 0;
}

.navbarli {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
    
}
.navbara {
    text-decoration: none; 
    color: black;
    padding: 2vw;
    font-family: monospace;
}
.navbara:hover {
    background-color: #C6E9FF;
}

nav {
    width: 100%;
    background-color: #D6EFFF;
    margin: 0;
    overflow: hidden;
}

.navbarul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

body {
    margin: 0;
}

#hamburger {
    display: none;
}

/*
Navbar scaling
*/
@media only screen and (max-width: 1080px) {
    .navbarul {
        flex-direction: column;
    }
    .navbarli {
        margin: 0;
    }
    .navbara {
        display: block;
    }
    #hamburger {
        display: block;

        padding: 2vw;
        font-size: 2vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
}

/*
    Medlems formatering for bilder och border
*/

.allMembers{
    flex: 33.33%;
    padding: 5px;
}
.row{
    display: flex;
  }

.allMembers img{
    border-radius: 33%;
}

.members{
    float: left;
}
.members img{
    border-radius: 33%;
}

.skills{
    float: right;
}

/*
    Slideshow kod
*/

#slideshow { 
    margin: 50px auto; 
    position: static; 
    width: 60px; 
    height: 60px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 60px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*
Kontakta oss form
*/

.text{
    position: relative;
}

#chribbe{
    cursor: url(cursor.cur), progress;
}
