*{
    font-family:sans-serif;
}

#map {
    height: 40em; 
    margin: 0;
}

.navbarli {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
    
    
    
}
.navbara {
    display: flex;
    text-decoration: none; 
    color: black;
    padding: 2vw;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.3em;
    justify-content: center;

}
.navbara:hover {
    background-color: #C6E9FF;
}

nav {
    width: 100%;
    background-color: #D6EFFF;
    margin: 0;
    overflow: hidden;
}

.navbarul {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

body {
    margin: 0;
}

#hamburger {
    display: none;
}

/*
Navbar scaling
*/
@media only screen and (max-width: 1080px) {
    .navbarul {
        flex-direction: column;
    }
    .navbarli {
        margin: 0;
        justify-content: center;
    }
    .navbara {
        display: block;
    }
    #hamburger {
        display: block;

        padding: 2vw;
        font-size: 2vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
}

/*
    Medlems formatering for bilder och border
*/

.allMembers{
    flex: 33.33%;
    padding: 5px;
}
.row{
    display: flex;
  }

.allMembers img{
    border-radius: 33%;
}

.members{
    float: left;
}
.members img{
    border-radius: 33%;
}

.skills{
    float: right;
}

/*
    Slideshow kod
*/

#slideshow { 
    margin: 50px auto; 
    position: static; 
    width: 60px; 
    height: 60px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

}
.text{
    display: grid;
    justify-content: center;
    margin: 2em;
}
/*.container{
    display: grid;
    grid-template-rows:
    margin-top: 2em;
    justify-content: center;
    align-items: center;
        
}*/
.pictures { 
    display: grid;
   
    align-items: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: -1; 
    padding: 20px; 
    box-shadow: 0 0 20px rgba(51, 51, 77);
    margin: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pictures > div { 
    top: 60px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
.btn{
    position: flex;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body{
    background-color: rgba(250, 250, 250, 0.85);
    font-family: 'Big Shoulders Display', cursive;
    }

    nav{
    text-align: center;
}

/*
Kontakta oss form
*/

.text{
    position: relative;
}

#chribbe{
    cursor: url(cursor.cur), progress;
}
