#map { height: 40em; }

.navbarli {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 3vh;
}

.navbara {
    text-decoration: none; 
    color: black;
    padding: 2vw;
    font-family: monospace;
}
.navbara:hover {
    background-color: #C6E9FF;
}

nav {
    width: 100vw;
    background-color: #D6EFFF;
}

.navbarul {
    margin: 0;
    padding: 0;
    display: flex;
}

body {
    margin: 0;
}

#hamburger {
    display: none;
}

@media only screen and (max-width: 500px) {
    .navbarul {
        flex-direction: column;
    }
    .navbarli {
        margin: 0;
    }
    .navbara {
        display: block;
    }
    #hamburger {
        display: block;

        padding: 2vw;
        font-size: 2vh;
        background-color: #AFE0FF;
        border: none;
        outline: none;
        cursor: pointer;
        align-self: flex-start;
    }
}

.allMembers{
    position: relative;
    float: left;
    flex-direction: row;
}

.allMembers img{
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 25vw;
}

.membersText{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 50%;
    font-size: 18px;
}

.members{
    float: left;
}

.skills{
    float: right;
}