#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

img {
    width: 100%
}

#test {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
}

.text {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    #test {
        flex-direction: column;
    }
    body {
        font-size: 2em;
    }
}